/* global stayl */
.bg-second,
.navbar .active,
.bg-second-btn {
  background: #1abc9c;
}
.bg-second-btn:hover {
  background: #1abc9c;
  color: white;
}
.navbar,
.footer,
.line-color {
  background-color: #2c3e50;
}
.pointer {
  cursor: pointer;
}
/* About */
.about-content p {
  font-size: 18px;
  font-weight: 400;
}

.about-height {
  height: 80vh;
}
/* Footer */
.footer-bottom {
  background-color: #233242;
}
.footer .icons i {
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 5px;
  padding: 8px;
}
.footer p {
  font-size: 1rem;
}
/* Heading Page */
.headerStyle {
  color: #2c3e50;
}

.line {
  width: 80px;
  height: 4px;
}

.section-title .star {
  font-size: 18px;
  color: #2c3e50;
}

/* Portfolio */

.porto .inner .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  background: rgb(46, 185, 157, 0.7);
}
.porto .inner:hover .layer {
  opacity: 1;
  transition: 0.5s all;
}

.modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: cente;
}
.modal .modal-body .img-width {
  width: 130%;
}

/* form */
.field {
  position: relative;
  margin-bottom: 24px;
}

.field input {
  padding: 14px 2px;
}

.field label {
  position: absolute;
  top: 14px;
  color: #9ca3af;
  font-size: 14px;
  pointer-events: none;

  opacity: 0;
  transform: translateY(6px);
  transition: 0.6s ease;
}

.field.active label {
  top: -20px;
  font-size: 16px;
  background: white;
  color: #1abc9c;
  opacity: 1;
  transform: translateY(0);
}
